Knikkerbaan SCADA/Knikkerbaan SCADA/Service References/ScadaServiceReference/KnikkerBaanServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnikkerBaanServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnikkerBaanServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Policy">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
  <xs:complexType name="ArrayOfCan_Message">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Can_Message" nillable="true" type="tns:Can_Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCan_Message" nillable="true" type="tns:ArrayOfCan_Message" />
  <xs:complexType name="Can_Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diagnostics" type="xs:int" />
      <xs:element minOccurs="0" name="Function" type="xs:int" />
      <xs:element minOccurs="0" name="Identifier" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Can_Message" nillable="true" type="tns:Can_Message" />
</xs:schema>