Knikkerbaan SCADA/Knikkerbaan SCADA/Service References/ScadaServiceReference/KnikkerBaanServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnikkerBaanServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnikkerBaanServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmptyByte" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PolicyModuleOne" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PolicyModuleThree" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PolicyModuleTwo" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PolicyValueOne" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PolicyValueThree" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PolicyValueTwo" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="address" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
</xs:schema>