Knikkerbaan SCADA/Knikkerbaan SCADA/Service References/ScadaServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CScadaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KnikkerBaanServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScadaService_SetPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPolicy" />
  </wsdl:message>
  <wsdl:message name="IScadaService_SetPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaService_GetCanMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCanMessages" />
  </wsdl:message>
  <wsdl:message name="IScadaService_GetCanMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCanMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaService_GetPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicy" />
  </wsdl:message>
  <wsdl:message name="IScadaService_GetPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaService_GetServerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerName" />
  </wsdl:message>
  <wsdl:message name="IScadaService_GetServerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IScadaService">
    <wsdl:operation name="SetPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaService/SetPolicy" message="tns:IScadaService_SetPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaService/SetPolicyResponse" message="tns:IScadaService_SetPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCanMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaService/GetCanMessages" message="tns:IScadaService_GetCanMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaService/GetCanMessagesResponse" message="tns:IScadaService_GetCanMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaService/GetPolicy" message="tns:IScadaService_GetPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaService/GetPolicyResponse" message="tns:IScadaService_GetPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaService/GetServerName" message="tns:IScadaService_GetServerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaService/GetServerNameResponse" message="tns:IScadaService_GetServerName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScadaService" type="tns:IScadaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPolicy">
      <soap:operation soapAction="http://tempuri.org/IScadaService/SetPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCanMessages">
      <soap:operation soapAction="http://tempuri.org/IScadaService/GetCanMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicy">
      <soap:operation soapAction="http://tempuri.org/IScadaService/GetPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerName">
      <soap:operation soapAction="http://tempuri.org/IScadaService/GetServerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CScadaService">
    <wsdl:port name="BasicHttpBinding_IScadaService" binding="tns:BasicHttpBinding_IScadaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KnikkerBaanServer/ScadaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>